.carrosel {
    height: 325px;
    padding-left: 15px;
    padding-right: 15px;
}

.mascara3 {
    background-color: var(--cor-preta);
    width: 100%;
    height: 100%;
    opacity: 55%;
    position: absolute;
    z-index: -2;
    border-radius: 10px;
    transition: 500ms;
}

.swiper-slide {
    width: 212px;
    height: 199px;
    position: relative;
}

.swiper-slide:hover > .mascara3 {
    opacity: 30%;
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(1px);
    z-index: -3;
    border-radius: 10px;
}

.slide1 {
    background-image: url(../img/maquinas.jpg);
}

.slide2 {
    background-image: url(../img/ferramentas.jpg);
}

.slide3 {
    background-image: url(../img/soldagem.jpg);
}

.slide4 {
    background-image: url(../img/tintas.jpg);
}

.slide5 {
    background-image: url(../img/abrasivos.jpg);
}

.slide-link {
    display: block;
    margin: 0 auto;
    width: 91%;
    height: 100%;
}

.slide-texto {
    text-decoration: none;
    color: var(--cor-branca);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--cor-branca);
    height: 100%;
    top: 11%;
}

.swiper-button-next {
    padding-right: 10px;
    right: 0;
}

.swiper-button-prev {
    left: 0;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {

    .carrosel {
        padding-left: 100px;
        padding-right: 100px;
    }
    
}

@media screen and (min-width: 1024px) {

    .carrosel {
        height: 550px;
        padding-left: 0;
        padding-right: 0;
    }

    .swiper {
        width: 900px;
    }

    .swiper-slide {
        width: 212px;
        height: 375px;
    }

    .slide-texto {
        font-size: 35px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 6%;
    }
}