.cabecalho_menu-hamburguer {
    width: 25px;
    height: 16px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.cabecalho {
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
    height: 53px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90vw;
    margin: 0 auto;
}

.cabecalho_imagem {
    width: 104px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50vw;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo, .lista-menu_item {
    padding: 1em;
    background-color: #ffffff;
}

.lista-menu_titulo {
    color: #6d0000;
    font-weight: 700;
    text-transform: uppercase;
}

.lista-menu_link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.lista-menu_link:hover {
    color: #6D0000;
    text-decoration: underline;
}

.container_botao {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho_menu-hamburguer {
        display: none;
    }
    
    .cabecalho {
        height: 65px;
    }

    .cabecalho-container {
        width: 1000px;
    }
    
    .cabecalho_imagem {
        width: 170px;
    }

    .lista-menu {
        display: block;
        position: static;
        display: flex;
        width: fit-content;
    }

    .lista-menu_titulo {
        display: none;
    }
}
