.localizacao {
    height: 420px;
}

.mapa {
    width: 98%;
    height: 98%;
    border-radius: 20px;
}

.mapa-container {
    background-color: #6D0000;
    border-radius: 20px;
    width: 95vw;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .mapa-container {
        width: 70vw;
    }
}

@media screen and (min-width: 1024px) {

    .localizacao {
        height: 610px;
    }

    .mapa-container {
        height: 430px;
        width: 850px;
    }
}