.localizacao {
    height: 420px;
}

.mapa {
    width: 95%;
    height: 95%;
}

.mapa-container {
    background-color: #A8A8A8;
    width: 95vw;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}