.produtos-titulo {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
}

.display-pagina-atual {
    width: 80vw;
    font-size: 20px;
    margin: 50px auto 0 auto
}

.super-container-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px auto 0 auto;
}

.produto-nao-encontrado {
    font-size: 24px;
    margin-bottom: 70vh;
    color: #555555;
}

/* Box padrão dos produtos */

.container-produtos {
    height: 400px;
    width: 230px;
    display: flex;
    flex-direction: column;
    background: #C8C8C8;
    border: 1px solid var(--cor-preta);
    border-radius: 25px;
    margin-bottom: 50px;
}

/* Layout sem descrisão e botão  */

.box-produtos {
    width: 100%;
    height: 195px;
}

.box-produtos img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.texto-produtos {
    height: 100%;
    border-top: 1px solid var(--cor-preta);
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

/* Layout com botão */

.botao-produtos {
    border-top: 1px solid var(--cor-preta);
    height: 100%;
    font-weight: 600;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.descricao-botao {
    font-family: var(--font-family-padrao);
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #333333;
    border: none;
    color: var(--cor-branca);
    transition: 0.1s;
}

.link-orcamento {
    text-decoration: underline;
    color: var(--cor-vermelha-padrao);
    transition: 300ms;
}

.link-orcamento:hover {
    transform: scale(1.1);
    color: #4d0000;
}

.descricao-botao:active {
    transform: scale(0.95);
}

/* Layout de descrição */

h6 {
    font-size: 16px;
    padding-bottom: 10px;
}

.texto-descricao {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 0 5px;
}

.texto-descricao p{
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 10px;  
}


h5 {
    text-align: center;
}

.botao-back {
    font-family: var(--font-family-padrao);
    font-size: 12px;
    width: 50%;
    padding: 5px 0;
    margin: 10px auto 0 auto;
    background-color: var(--cor-vermelha-padrao);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
}

.botao-back:focus {
    outline: none;
    background-color: #4d0000;
    border: 3px solid #0044ff;
}

.botao-back:hover {
    background-color: #4d0000;
}

.botao-back:active {
    transform: scale(0.9);
    background-color: #4d0000;
    border: 3px solid #0044ff;
}

.lista-paginas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.page-number {
    margin-right: 10px;
}

.page-button {
    font-family: var(--font-family-padrao);
    height: 20px;
    color:#0044ff;
    border: 1px solid #0044ff;
    cursor: pointer;
}

.page-button-active {
    font-family: var(--font-family-padrao);
    height: 20px;
    color:var(--cor-branca);
    background-color: #0044ff;
    border: 1px solid #0044ff;
    transform: scale(1.2);
    cursor: pointer;
}

.page-number:last-child {
    margin-right: 0;
}

.page-number:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.page-number:active {
    transform: scale(1);
}

.page-text {
    text-align: center;
    padding-bottom: 30px;
    font-size: 13px;
}

.page-number-after::after {
    content: '...';
    margin-left: 10px;
    letter-spacing: 1px;
}

.page-number-before::before {
    content: '...';
    margin-right: 10px;
    letter-spacing: 1px;
}

/* Barra de navegação da descrição dos produtos  */

.produtos-com-descricao {
    padding: 14px 10px;
}

::-webkit-scrollbar {
  width: 3px;
}

 
::-webkit-scrollbar-track {
  background: #C8C8C8;
}


::-webkit-scrollbar-thumb {
  background: var(--cor-vermelha-padrao);
}

::-webkit-scrollbar-thumb:hover {
    background: #4d0000;
}

.produtos-titulo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-formiga {
    margin-top: 15px;
    width: 80px;
}

@media screen and (min-width: 768px) {

    .display-pagina-atual {
        width: 600px;
    }

    .super-container-produtos {
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        justify-content: space-between;
    }

    .produtos-titulo-container {
        flex-direction: row;
        justify-content: center;
    }

    .produtos-formiga {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1024px) {
    
    .produtos-titulo {
        font-size: 28px;
        margin-top: 50px;
    }

    .display-pagina-atual {
        width: 900px;
    }
    
    .super-container-produtos {
        width: 900px;
    }

    .container-produtos {
        margin-bottom: 80px;
        height: 450px;
        width: 260px;
    }

    .box-produtos {
        height: 244px;
    }

    .botao-produtos p {
        font-size: 20px;
    }

    .descricao-botao {
        font-size: 20px;
        width: 200px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 20px;
    }

    .texto-descricao p {
        font-size: 16px;
    }

    .produtos-formiga {
        width: 120px;
        margin-top: 30px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1200px) {

    .display-pagina-atual {
        width: 1125px;
    }

    .super-container-produtos {
        width: 1125px;
        margin-top: 80px;
    }
}

@media screen and (min-width: 1450px) {

    .display-pagina-atual {
        width: 1250px;
    }

    .super-container-produtos {
        width: 1250px;
    }
}
