.sobrenos {
    background-image: url(../img/sobrenos-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    z-index: -2;
    position: relative;
    padding-bottom: 20px;
}

.sobrenos-container {
    padding-left: 25px;
    padding-right: 25px;
}

.texto-sobre {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    line-height: 20px;
}