h3 {
    display: flex;
    align-items: center;
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.valores-icone::before,
.visao-icone::before,
.missao-icone::before {
    content: '';
    width: 31px;
    height: 31px;
    margin-right: 5px;
}

.valores-icone::before {
    background-image: url(../img/valores.svg);
}

.visao-icone::before {
    background-image: url(../img/visao.svg);
}

.missao-icone::before {
    background-image: url(../img/missao.svg);
}

.valores {
    height: fit-content;
    background-image: url(../img/valores-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -3;
}

.valores-container {
    padding: 40px 0 30px;
    width: 90vw;
    margin:  0 auto;
}

.texto-valores {
    font-size: 14px;
    font-weight: 300;
    color: var(--cor-branca);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;

}

@media screen and (min-width: 768px) {
    .valores-container {
        width: 70vw;
    }
}

@media screen and (min-width: 1024px) {

    h3 {
        font-size: 28px;
    }

    .valores-container {
        padding: 60px 0 50px;
        width: 800px;
    }

    .texto-valores {
        font-size: 22px;
    }
}